body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000e3;
}

h1{
    font-family: serif;
    color: #3777ff;
}
h3{
    color: #3776ff9d;
}
label{
    color: #8b8c89;
}
input{
    background-color: #3777ff;
    border: none;
    border-radius: 5px;
}
.input-name{
    height: 30px;
    color: #8b8c89;

}

button{
    font-size: large;
    color: #8b8c89;
    background-color: #000000;
    padding: 15px 30px;
    border: none;
    border-radius: 10%;
    margin-left: 2rem;
}
button:hover{
    background-color: #3777ff;
    cursor: pointer;
}
img{
    width: 200px;
}